section {
    width: 800px;
    margin: 0 auto;
}

img {
    display: block;
    margin:0 auto;
    width: 60%;

}

.fruits {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.fruit {
    margin: 5px 50px;
    padding: 10px 20px 20px;
    width: 200px;
    height: 20px;
    border: 2px solid grey;
    border-radius: 5px;
    text-align: center;
    font-weight: bold;
}

.reset {
    margin: 10px 50px;
    width: 245px;
    height: 50px;
}

form {
    width: 500px;
    margin: 30px auto;
}

.formClass {
    margin-right: 10px;
}